/* Game-section */
.dice-image1{
  height: 100px;
  width: 100px;
  margin-top: 20px;


}



.dice-image2{
  height: 100px;
  width: 100px;
  margin-top: 20px;

}

.game-section{
  text-align: center;
  padding: 5%;

  background-color: #dee3e2;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  color: #11999e;
}


/* head */

#head{
  text-align: center;
  padding: 1%;
    background-color: #00bcd4;
    color:#fff;

}

.brand-dicee {
  color: #fff;

}

.fas{
  margin-right: 20px;
}



/* footer-section */

#footer{

  background-color: #00bcd4;
  padding: 2% 18% 1% 18%;
}

.footer-content{
  text-align: center;
  font-family: 'Ubuntu', sans-serif;

}

.footer-para1{
  font-size: 30px;
  color: #fff;
}
.footer-para2{
  font-size: 18px;
  color: #e1f2fb;

}
.footer-para3{
  font-size: 18px;
  color: #e1f2fb;
}

.my-tag{
  color: #fff;
  margin-top: 80px;
}
